<!DOCTYPE html>
<html>
<title>Twitter Stream</title>

    <head>
        <!--<blockquote class="twitter-tweet">-->
            <!--<p>Currently testing: jQuery and CSS animations: fly-in - <a href="http://t.co/8sFm5wFM" title="http://jsfiddle.net/gabrieleromanato/km3TE/">jsfiddle.net/gabrieleromana…</a> for web apps</p>-->
            <!--&mdash; Gabriele Romanato (@gabromanato) <a href="https://twitter.com/gabromanato/status/275673554408837120" data-datetime="2012-12-03T18:51:11+00:00">December 3, 2012</a>-->
        <!--</blockquote>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <script type="text/javascript" src="../static/Tweet.js"></script>



    </head>

    <body>
    <div class="container-fluid">
            <div class="col-xs-4">
                <h2>Twitter Stream</h2>
            </div>
            <div class="col-xs-5">
            </div>
            <div class="col-xs-3"><p># tweets = <span id="tweet-count"></span></p></div>
        </div>

        <div class="twitter-feed col-xs-4">
            <table class="" id="output">
            </table>
        </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-7">
        <svg width="764" height="500"></svg>
    </div>
    </body>
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script type="text/javascript" src="../static/tweetChart.js"></script>
</html>
